@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after{
    
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #fcfcfc;
}
form{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
		background: white;
		border-radius: 10px;
        -webkit-border-radius: 11px 11px 0px 0px;
    border-radius: 11px 11px 0px 0px;
    -webkit-box-shadow: -8px 5px 9px 9px rgba(64, 65, 63, 0.74); 
    box-shadow: -8px 5px 9px 9px rgba(64, 65, 63, 0.74);
}

h1 {
    text-align: center;
    color: #332c2c;
    text-shadow: 1px 1px 0 white;
}

form #current-time {
    text-align: center;
    color: #b8eb39;
    background-color: #0d75ec;
    text-shadow: 1px 1px 0 #0a2ea4;
    font-family: 'Merriweather',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    font-weight: 500;
    position: relative;
}


#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    font-family: 'Merriweather',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Merriweather',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
#tasks input{
    font-family: 'Merriweather',sans-serif;
    font-size: 15px;
    color: #111111;
    font-weight: 500;
    background-color: #c5e1e6;
    height: 50px;
    width: 100%;
	margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
	border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #939697;
    cursor: pointer;
}

#tasks button{
    background-color: #0a2ea4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}

